:root {
    font-family: 'Raleway', sans-serif;
    --font-main: 'Raleway', sans-serif;
    --font-mono: 'PT Mono', monospace;
}

.fontRegular {
    font-family: var(--font-main) !important;
}

.fontMono {
    font-family: var(--font-mono) !important;
}